@{
    Layout = "_Layout";
}

<div id="homeIndex">
  <h1>Parks of the American West</h1>
  <h2>A growing list of the best national and state parks in the western half of the United States.</h2>
  <h3>@Html.ActionLink("Our List", "Index", "Parks")</h3>
</div>
